[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
default-storage-engine = INNODB
character-set-server = utf8
collation-server = utf8_general_ci
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
skip-name-resolve
max_allowed_packet=1073741824
max_connect_errors=9999
max_connections=500
max_length_for_sort_data=1024
max_prepared_stmt_count=16382
max_user_connections=0
table_open_cache=1024
myisam_sort_buffer_size=8388608
net_read_timeout=30
net_retry_count=10
net_write_timeout=60
query_cache_limit=1048576
query_cache_size=0
query_cache_type=OFF
innodb_file_per_table=1
innodb_log_file_size=256M
innodb_log_files_in_group=2
innodb_sort_buffer_size=1048576
key_buffer_size=32M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set = utf8
